[submodule "seymour-interpreter"]
	path = seymour-interpreter
	url = https://github.com/harc/seymour.git
[submodule "seymour"]
	path = seymour
	url = https://github.com/harc/seymour.git
[submodule "third_party/ua-parser-js"]
	path = third_party/ua-parser-js
	url = https://github.com/faisalman/ua-parser-js.git
