@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i,700,700i|Vollkorn:400,400i,700,700i|Spectral:400,400i,500,500i,600,600i,700,700i');

html { font-size: 13px; }

body {
  /*font-family: 'Vollkorn', serif;*/
  background-color: hsl(60,35%,99%);
}

#abstract > blockquote {
  width: 45%;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5,
p.subtitle {
  font-family: 'Fira Sans', sans-serif;
}

p.subtitle {
  line-height: 1.3;
}

h1 {
  font-weight: 700;
}

h2, h3 {
  font-style:  normal;
  font-weight: 500;
}

pre.code {
  font-family: Consolas, Monaco, Courier, monospace;
}

.sidenote-number:after, .sidenote:before {
    /*font-family: 'Vollkorn', serif;*/
}

/*@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 85%;
  }
}*/

@media (max-width: 760px) {
  .sidenote, .marginnote {
      top: 0 !important;
  }
}

/* seymour env styling */

figure[id^="env"] {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
}

figure[id^="env"] .CodeMirror {
  font-family: inherit;
  min-width: 50%;
}

div[id^="microVizContainer"] {
  font-family: "Fira Mono";
  font-feature-settings: "liga" 0;
  padding: 0px;
}
