@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i,700,700i|Vollkorn:400,400i,700,700i|Spectral:400,400i,500,500i,600,600i,700,700i');

html { font-size: 13px; }

body {
   font-family: 'Vollkorn', serif; 
  background-color: hsl(60,35%,99%);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  counter-reset: sidenote-counter section-counter;
}

#abstract > blockquote {
  width: 45%;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5,
p.subtitle {
  font-family: 'Fira Sans', sans-serif;
}

p.subtitle {
  line-height: 1.3;
}

h1 {
  font-weight: 700;
}

h2, h3 {
  font-style:  normal;
  font-weight: 500;
}

code, pre.code {
  font-family: "Fira Mono", Consolas, Monaco, Courier, monospace;
  font-feature-settings: "liga" 0;
  font-size: 1.1rem;
}

.sidenote-number:after, .sidenote:before {
    font-family: 'Vollkorn', serif;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 77%;/*85%;*/
  }
}

@media (max-width: 760px) {
  .sidenote, .marginnote {
      top: 0 !important;
  }
}

/* seymour env styling */

figure[id^="env"] {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
}

figure[id^="env"] .CodeMirror {
  font-family: inherit;
  min-width: 50%;
}

div[id^="microVizContainer"] {
  font-family: "Fira Mono";
  font-feature-settings: "liga" 0;
  padding: 0px;
}

div[id^="errorDiv"] {
  font-family: "Fira Sans";
  color: hsl(0, 50%, 70%);
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background: hsl(0, 0%, 95%);
  cursor: row-resize;
}

div[id^="errorDiv"]:empty {
  padding: 0px;
  border: 0px;
}

#env6 .CodeMirror {
  /* min-width: 100%; */
}
#errorDiv6:empty {
  padding: 2px;
  border: 1px solid #ddd;
}

div[id^=macroVizScroller] {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  max-height: 50%;
  height: 50%;
}

#references li {
  padding-left: 2em;
  text-indent: -2em;
}

#references ol {
   width: 70%; 
}

img.light-bg-protect, video.light-bg-protect {
    border: 1px solid #ccc;
}

img.light-bg-protect {
  border-radius: 4px;
}

img.block, video.block {
    display: block;
}

li {
  padding: 0.2rem 0;
}

span.sectionNumber::before {
  color: hsl(0, 0%, 70%);
  counter-increment: section-counter;
  content: counter(section-counter) " ";
}

.timestamp::before {
  content: attr(start) "–" attr(end);
}

img.sidenoteFigure {
  margin-top: 1rem;
}